
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --font-family: sans-serif;
}

html {
  --app-color-primary: #2196F3;
  --app-color-primary-light: #2195f3de;
  --app-color-primary-clicked: #50abf5;
  --app-color-red: #E01A4F;
  --app-color-green: #4dc45b;
  --app-color-white: #FDF7FA;
  --app-color-black: #1E2019;

  --app-shadow: rgba(0, 0, 0, 0.22) 0px 3px 3px;

  --app-margin-big: 32px;
  --app-margin-small: 16px;
  --app-border-radius-big: 15px;
  --app-border-radius-small: 7px;

  --app-button-height: 40px;

  --app-small-screen-width: 690px;
  --app-min-card-width: 300px;
  --app-max-card-width: 400px;
}


html, body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  background: #181818;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #282828;
  }

  fluent-design-system-provider {
    color: white;

    --accent-foreground-rest: white;
    --card-background: #1E2019BB;
  }
}

@media (prefers-color-scheme: light) {
  html,
  body {
    background: white;
    color: black;
  }

  fluent-design-system-provider {
    color: black;
    --fill-color: #edebe9;
    --background-color: white;
    --neutral-foreground-rest: #e5e5e5;
    --neutral-fill-input-rest: #e5e5e5;
    --neutral-fill-input-hover: white;
    --neutral-fill-stealth-rest: #e5e5e5;

    --neutral-fill-rest: #5d5d5d;

    --neutral-fill-input-active: #e5e5e5;

    --card-background: #FDF7FA;
  }

}
